
body{
    background-color: rgb(255, 223, 0);
    margin-top: 55px;

}
.btn{
    margin: 5px;
}
.btn-absolute{
    position: absolute;
    bottom: 18px;
}
.margen-boton{
    margin-left: 15px;
}
.navbar{
    background-color: rgb(255, 192, 0);
    position: fixed;
    width: 100%;
    z-index: 1080;
    top: 0;
}
.card-inline{
    display: inline-block;
    border-radius: 10px;
    height: 360px;
}
.height-img-card{
    height: 150px;
}
.carousel-inner{
    display: flex;
    justify-content: center;
}
.carousel-control-next, 
.carousel-control-prev{
width: 3%;
}
.width-cards{
    width: 93%;
}
.flexcards{
    display: flex;
    justify-content: space-around;
}
.precio{
    position: absolute;
    right: 60px;
    bottom: 20px;
}
.paquetes-alinear{
    text-align: center;
    font-family: Dancing Script;
    color: white;
    font-size: 80px;
    -webkit-text-stroke: .2px black;
}
.categoria-paquetes{
    margin-left: 25px;
}
.carousel-margen-bottom{
    margin-bottom: 20px;
}
.categoria-margen-familia{
    margin-top: 0;
    padding-top: 0;
}
