
body{
    background-color: rgb(255, 223, 0);

}
.margen-boton{
    margin-left: 15px;
}
.navbar{
    background-color: rgb(255, 192, 0);
}
.card-inline{
    display: inline-block;
}
.height-img-card{
    height: 150px;
}
.carousel-inner{
    display: flex;
    justify-content: center;
}
.carousel-control-next, 
.carousel-control-prev{
width: 3%;
}
.width-cards{
    width: 93%;
}
.flexcards{
    display: flex;
    justify-content: space-around;
}
.precio{
    position: absolute;
    right: 60px;
    bottom: 20px;
}