.navbar{
    background-color: rgb(255, 192, 0);
}

*{
    font-family: roboto;
}
body{
    background-color: rgb(255, 223, 0);

}
.imagenportada{
    opacity: 0.8;
    display: flex;
    align-items: center;
    margin:60px ;
    width: 750px;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    margin: 5px;
}
.overlay-desc {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    color: whitesmoke;
    font-size: 10vw;
    
    text-align: center;
    -webkit-text-stroke: .2px black;
    font-family: Dancing Script;
  }

  .botonesvideo {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: flex-end ;
    justify-content: center;
margin:115px;

  }
  .botonesvideo1 {
    background: rgba(0,0,0,0);
    /* position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: flex-end ;
    justify-content: center;
margin:115px; */

  }
  .botonesvideo1:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
    }
    .botonesvideo2 {
        background: rgba(0,0,0,0);
        /* position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        display: flex;
        align-items: flex-end ;
        justify-content: center;
    margin:115px;
     */
      }
      .botonesvideo2:hover{
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1)
        }