.formulario{
    padding: 10px;
    border-radius: 15px;
    background: white;
    width: 87%;
    
}
.btn{
    margin: 5px;
}
h1{
    margin: 3% 9%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.checkoutForm{
    padding: 0% 22%;

}

.navbar{
    background-color: rgb(255, 192, 0);
}

*{
    font-family: roboto;
}
body{
    background-color: rgb(255, 223, 0);

}

.contenedor{
    display: flex;
    align-items: center;
    height: calc(100vh - 60px);
    justify-content: center;
}

.cambiarboton{
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}

.signInStandard{
    display: flex;
    justify-content: center;
}