*{
    font-family: roboto;
}
.btn{
    margin: 5px;
}

h1{
    margin: 3% 9%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.checkoutForm{
    padding: 0% 22%;
}

.btn{
    margin: 5px;
}
.margen-boton{
    margin-left: 15px;
}
.navbar{
    background-color: rgb(255, 192, 0);
    position: fixed;
    width: 100%;
    z-index: 1080;
    top: 0;
}

body{
    background: rgba(255, 221, 0, 0.5);
    overflow: hidden;

}
.flex-containar{
    height: calc(100vh + 50px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    border-radius: 15px;
    background: white;
    height: 500px;
    width: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cambiarboton{
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}
.signInStandard{
    display: flex;
    justify-content: center;
}
.icono{
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    margin-left: 8px;
    padding: 0;
    fill: currentColor;
    color: blue;
    margin-right: -5px;
    transition: all .3s;
}
.icono:hover{
    transform: rotateZ(-30deg);
}
.navbar-brand{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}