.formulario{
    padding: 10px;
    border-radius: 15px;
    background: white;
    width: 78%;
    
}

h1{
    margin: 3% 9%;
}

.checkoutForm{
    padding: 0% 22%;

}

.navbar{
    background-color: rgb(255, 192, 0);
}

*{
    font-family: roboto;
}
body{
    background-color: rgb(255, 223, 0);

}

.contenedor{
    display: flex;
    align-items: center;
    margin: 5% 0% 5% 19%;
}

.cambiarboton{
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}

.signInStandard{
    display: flex;
    justify-content: center;

}

h1{
    display: flex;
    justify-content: center;
    
}