.navbar{
    background-color: rgb(255, 192, 0);
}
.margen-boton{
    margin-left: 15px;
}
body{
    background: rgba(255, 221, 0, 0.5);
}
.form-signup{
    border-radius: 15px;
    background: white;
    height: 500px;
    width: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-sign{
    width: 45%;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}
.centrar-boton{
    display: flex;
    justify-content: center;
}
.icono{
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    margin-left: 8px;
    padding: 0;
    fill: currentColor;
    color: blue;
    margin-right: -5px;
    transition: all .3s;
}
.icono:hover{
    transform: rotateZ(-30deg);
}
.navbar-brand{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}