
body{
    background-color: rgb(255, 223, 0);

}
.btn{
    margin: 5px;
}
.margen-boton{
    margin-left: 15px;
}
.navbar{
    background-color: rgb(255, 192, 0);
    position: fixed;
    width: 100%;
    z-index: 1080;
    top: 0;
}
h1{
    color: whitesmoke;
    font-size: 10vw;
    text-align: center;
    -webkit-text-stroke: .2px black;
    font-family: Dancing Script;
    margin: 4% 0% 0% 0%;
}
.checkoutForm{
    padding: 0% 22%;

}
.formulario{
    padding: 10px;
    border-radius: 15px;
    background: white;
    width: 78%;
    
}
.contenedor{
    display: flex;
    align-items: center;
    margin: 1% 0% 5% 19%;
}