
body{
    background: rgba(255, 221, 0, 0.5);

}
.tarjetas-recomendaciones{
    display: flex;
    justify-content: space-around;
}
.card-img-top{
    height: 150px;
}
.centrar{
    display: flex;
    justify-content: center;
}
.boton-personalizar-recomendacion{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.btn{
    margin: 5px;
}
.margen-boton{
    margin-left: 15px;
}
.navbar{
    background-color: rgb(255, 192, 0);
    position: fixed;
    width: 100%;
    z-index: 1080;
    top: 0;
}
h1{
    color: whitesmoke;
    font-size: 10vw;
    text-align: center;
    font-family: Dancing Script;
    margin: 4% 0% 0% 0%;
}
.checkoutForm{
    padding: 0% 9%;

}
.formulario{
    padding: 10px;
    border-radius: 7px;
    background: white;
    width: 90%;

    
}
.contenedor{
    display: flex;
    align-items: center;
}
.flex-btn{
    display: flex;
    justify-content: center;
}
.card{
    height: 350px;
}
.icono{
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    margin-left: 8px;
    padding: 0;
    fill: currentColor;
    color: blue;
    margin-right: -5px;
    transition: all .3s;
}
.icono:hover{
    transform: rotateZ(-30deg);
}
.navbar-brand{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.boton-estatico{
    position: absolute;
    bottom: 5px; 
}