.btn{
    margin: 5px;
}
.margen-boton{
    margin-left: 15px;
}
.navbar{
    background-color: rgb(255, 192, 0);
    position: fixed;
    width: 100%;
    z-index: 1080;
    top: 0;
}

*{
    font-family: roboto;
}
body{
    background-color: rgb(255, 223, 0);
    overflow: hidden;
}

h1{
    margin: 3% 9%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}
.checkout{
    height: calc(100vh + 60px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.padre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin: 4%;
}

.contenedorFormato{
    padding: 10px;
    border-radius: 15px;
    background: white;
    width: 78%;
    
}

.juntadosCardyPago{
    display: flex;
    justify-content: space-around;
}

h2{
    display: flex;
    justify-content: center;
}

.MetodoDePago{
    display: inline;
}

.TitulosFormato{
    font-size: 20px;

}

.boton-pago{
    display: flex;
    justify-content: center;
    
}

.boton-pago-color{
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}
.icono{
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    margin-left: 8px;
    padding: 0;
    fill: currentColor;
    color: blue;
    margin-right: -5px;
    transition: all .3s;
}
.icono:hover{
    transform: rotateZ(-30deg);
}
.navbar-brand{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

